@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Rubik:wght@300;400;500;700;800;900&display=swap');
*{
    font-family: 'Quicksand', Arial, sans-serif;
}
.uk-card{
    background-color:#343A40;
    color:#DEE2E6;
}

/* .uk-card-media-left{
    margin: 2% 0% 2% 2%;
    max-width: 50%;
    max-height: 50%;
    justify-content: space-around;
} */
.uk-card-title{
    color:#DEE2E6;
    word-wrap: break-word;
}
.child-card{
    line-height: 120%;
    margin: 0;
}

.main-table{
    border: 1px solid #f5f9fa;
}
.uk-table-hover > tbody > tr:hover{
    background-color:#CED4DA;
    color: black !important;
}
.table-border > .uk-table > tbody > tr{
    color: #f5f9fa;
}
.heading{
    border-right:1px solid #dee2e6;
}
.uk-table-hover > tbody > tr > td:nth-of-type(1):hover{
    border-right: 1px solid #212529;
}
.py-3{
    color: #dee2e6;
}
td > img{
    width: 15%;
}
.loader{
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.spinner-border{
    color: #f8f9fa;
    width: 90px;
    height: 90px;
}
.genre{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

#center-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-size{
    margin-top: 2%;
    margin-bottom: 2%;
}
button{
    background-color:#CED4DA;
}
button:hover{
    background-color:#E9ECEF;
}
.magnet-button{
    margin-bottom: 1%;
}
@media screen and (min-width:880px){
    .img-size{
        display: flex;
        flex-direction: column;
    }
    .table-border{
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media screen and (max-width:800px){
    .table-border{
        margin-left: 2%;
        margin-right: 2%;
    }
    .tlh-des{
        margin-top:-10%;
    }
    .tlh-des > h3{
        font-size: 1em;
        font-weight: 600;
    }
    .tlh-des > p{
        font-size: 0.7em;
    }
    .img-size{
        margin-top: 5% !important;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:720px) {
    button{
        max-width: 70%;
    }
    .magnet-button{
        margin-bottom: 3%;
    }
}