<div class="loader" *ngIf='data === ""'>
    <div class="spinner-border text-light loader" role="status">
        <span class="sr-only" style="color: white;">Loading...</span>
    </div>
</div>
<div id="center-card">
    <div class="uk-card uk-card-default uk-child-width-1-2@s uk-margin uk-flex-middle uk-border-rounded"  *ngIf="data.name || data.description"
        uk-grid>
        <!-- <div class="uk-card-media-left uk-cover-container uk-flex-first uk-flex-stretch@s"> -->
            <div class="img-size">
                <img
                    src="{{data.thumbnail}}" style="width: 50%; height: 50%;">
            </div>
        <!-- </div> -->
        <div>
            <div class="uk-card-body uk-width-1-1@l child-card uk-flex-last">
                <h3 class="uk-card-title">{{data.name}}</h3>
                <p>{{data.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class="table-border uk-overflow-auto" *ngIf='data !== ""'>
    <table class="uk-table uk-table-middle uk-table-divider main-table uk-border-rounded uk-table-hover ">
        <tbody>
            <tr>
                <td class="heading">Name</td>
                <td class="desinfo">{{data.name}}</td>
            </tr>
            <tr>
                <td class="heading">Category</td>
                <td>{{data.category}}</td>
            </tr>
            <tr>
                <td class="heading">Type</td>
                <td>{{data.type}}</td>
            </tr>
            <tr>
                <td class="heading">Genre</td>
                <span class="genre">
                    <td *ngFor="let gen of data.genre">{{gen}}</td>
                </span>
            </tr>
            <tr>
                <td class="heading">Language</td>
                <td>{{data.language}}</td>
            </tr>
            <tr>
                <td class="heading">Uploader</td>
                <td>{{data.uploader}}</td>
            </tr>
            <tr>
                <td class="heading">Size</td>
                <td>{{data.size}}</td>
            </tr>
            <tr>
                <td class="heading">Downloads</td>
                <td>{{data.downloads}}</td>
            </tr>
            <tr>
                <td class="heading">Last Checked</td>
                <td>{{data.lastChecked}}</td>
            </tr>
            <tr>
                <td class="heading">Upload Date</td>
                <td>{{data.uploadDate}}</td>
            </tr>
            <tr>
                <td class="heading">Seeders</td>
                <td>{{data.seeders}}</td>
            </tr>
            <tr>
                <td class="heading">Leechers</td>
                <td>{{data.leechers}}</td>
            </tr>
            <tr>
                <td class="heading">InfoHash</td>
                <td>{{data.infoHash}}</td>
            </tr>
            <tr>
                <td class="heading">Images</td>
                <td class="img-flex">
                    <img *ngFor="let i of data.images" src="{{i}}">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center">© 2021 AceTor</p>
    </footer>
</div>