<div class="loader" *ngIf='data === ""'>
    <div class="spinner-grow text-light loader" role="status">
        <span class="sr-only" style="color: white;">Loading...</span>
    </div>
</div>
<p *ngIf='data !== ""'>torrentpage works! <a (click)="goToLink(data.magnetLink)">Magnet</a></p>
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-flex-middle uk-border-rounded"
    uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4@l uk-flex-first uk-flex-stretch@s">
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Narendra_Modi_2021.jpg/375px-Narendra_Modi_2021.jpg">
    </div>
    <div>
        <div class="uk-card-body uk-width-1-1@l child-card uk-flex-last">
            <h3 class="uk-card-title">Movie Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum
                dolor sit, amet consectetur adipisicing elit. Blanditiis sequi enim earum placeat est sit nihil
                molestias numquam amet, consequatur commodi cupiditate temporibus eius qui saepe in provident tenetur
                sapiente. Voluptas, numquam quidem.</p>
        </div>
    </div>
</div>
<div class="table-border">
    <table class="uk-table uk-table-middle uk-table-divider main-table uk-border-rounded uk-table-hover">
        <tbody>
            <tr>
                <td class="heading">Name</td>
                <td class="desinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut</td>
            </tr>
            <tr>
                <td class="heading">Description</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</td>
            </tr>
            <tr>
                <td class="heading">Category</td>
                <td>Lorem ipsum dolor sit amet, c.</td>
            </tr>
            <tr>
                <td class="heading">Type</td>
                <td>Lorem ipsum dolor sit</td>
            </tr>
            <tr>
                <td class="heading">Genre</td>
                <td>Lorem ipsum dolor sit amet, </td>
            </tr>
            <tr>
                <td class="heading">Language</td>
                <td>Lorem ipsum dolor sit amet, </td>
            </tr>
            <tr>
                <td class="heading">Uploader</td>
                <td>Lorem ipsum dolor sit amet,.</td>
            </tr>
            <tr>
                <td class="heading">Size</td>
                <td>Lorem </td>
            </tr>
            <tr>
                <td class="heading">Downloads</td>
                <td>Lorem ipsum </td>
            </tr>
            <tr>
                <td class="heading">Last Checked</td>
                <td>Lorem ipsum dolor </td>
            </tr>
            <tr>
                <td class="heading">Upload Date</td>
                <td>Lorem ipsum dolor</td>
            </tr>
            <tr>
                <td class="heading">Seeders</td>
                <td>Lorem ipsum </td>
            </tr>
            <tr>
                <td class="heading">Leechers</td>
                <td>Lorem ipsum .</td>
            </tr>
            <tr>
                <td class="heading">InfoHash</td>
                <td>Lorem ipsum dolor sit </td>
            </tr>
            <tr>
                <td class="heading">Images</td>
                <td class="img-flex"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Narendra_Modi_2021.jpg/375px-Narendra_Modi_2021.jpg"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Narendra_Modi_2021.jpg/375px-Narendra_Modi_2021.jpg"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Narendra_Modi_2021.jpg/375px-Narendra_Modi_2021.jpg"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Narendra_Modi_2021.jpg/375px-Narendra_Modi_2021.jpg"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Narendra_Modi_2021.jpg/375px-Narendra_Modi_2021.jpg">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center">© 2021 AceTor</p>
    </footer>
</div>