@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Rubik:wght@300;400;500;700;800;900&display=swap');

.uk-navbar{
    background-color: #212529;
}
.uk-navbar-nav > .uk-active > a{
    font-family: 'Quicksand', Arial, sans-serif;
    color:#F8F9FA;
    font-weight: 700;
    font-size: 1.5rem;
}
.uk-navbar-nav > .uk-active > a > span{
    font-weight: 700;
}
.uk-navbar-right > .uk-navbar-nav > li > a{
    font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:#F8F9FA;
}
.uk-navbar-right > .uk-navbar-nav > li > a:hover{
    color: #DEE2E6;
    text-decoration: underline;
}
.uk-offcanvas-bar > .uk-nav > li > a{
    font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color:#F8F9FA;
}
.uk-offcanvas-bar{
    background-color: #212529;
}

.uk-navbar-toggle{
    color: #F8F9FA;
}
#sidenav{
    text-transform: uppercase;
}
#sidenav > .uk-offcanvas-bar > .uk-nav > li > a:hover, a:active{
    text-decoration: underline;
    color: #DEE2E6;
}

@media screen and (min-width:880px){
    
}