<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-item">
            <form class="uk-search uk-search-navbar">
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search Torrents">
            </form>
        </div>
    </div>
</nav>

<!--<span class="uk-margin-small-right uk-align-center uk-text-center" uk-spinner="ratio: 3"
    style="color: aliceblue;"></span>-->
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-small uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-expand uk-text-center">Torrent Name</th>
                <th class="uk-table-small uk-text-center">Date Uploaded</th>
                <th class="uk-table-small uk-text-center">Size</th>
                <th class="uk-table-shrink uk-text-center">Seeders</th>
                <th class="uk-table-shrink uk-text-center">Leechers</th>
                <th class="uk-table-small  uk-text-center">Uploader</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="uk-text-center"><a class="torrent" href="#">Free.Guy.2021.1080p.BluRay.H264.AAC-RARBG-[rarbg.to]</a></td>
                <td class="uk-text-center"> 12-12-2012 </td>
                <td class="uk-text-center"> 25.96 GB </td>
                <td class="uk-text-center"> 23649 </td>
                <td class="uk-text-center"> 62358 </td>
                <td class="uk-text-center"> RISHI SHARMA </td>
            </tr>
            <tr>
                <td class="uk-text-center"><a class="torrent" href="#">Free.Guy.2021.1080p.BluRay.H264.AAC-RARBG-[rarbg.to]</a></td>
                <td class="uk-text-center"> 12-12-2012 </td>
                <td class="uk-text-center"> 25.96 GB </td>
                <td class="uk-text-center"> 23649 </td>
                <td class="uk-text-center"> 62358 </td>
                <td class="uk-text-center"> RISHI SHARMA </td>
            </tr>
            <tr>
                <td class="uk-text-center"><a class="torrent" href="#">Free.Guy.2021.1080p.BluRay.H264.AAC-RARBG-[rarbg.to]</a></td>
                <td class="uk-text-center"> 12-12-2012 </td>
                <td class="uk-text-center"> 25.96 GB </td>
                <td class="uk-text-center"> 23649 </td>
                <td class="uk-text-center"> 62358 </td>
                <td class="uk-text-center"> RISHI SHARMA </td>
            </tr>
            <tr>
                <td class="uk-text-center"><a class="torrent" href="#">Free.Guy.2021.1080p.BluRay.H264.AAC-RARBG-[rarbg.to]</a></td>
                <td class="uk-text-center"> 12-12-2012 </td>
                <td class="uk-text-center"> 25.96 GB </td>
                <td class="uk-text-center"> 23649 </td>
                <td class="uk-text-center"> 62358 </td>
                <td class="uk-text-center"> RISHI SHARMA </td>
            </tr>
            <tr>
                <td class="uk-text-center"><a class="torrent" href="#">Free.Guy.2021.1080p.BluRay.H264.AAC-RARBG-[rarbg.to]</a></td>
                <td class="uk-text-center"> 12-12-2012 </td>
                <td class="uk-text-center"> 25.96 GB </td>
                <td class="uk-text-center"> 23649 </td>
                <td class="uk-text-center"> 62358 </td>
                <td class="uk-text-center"> RISHI SHARMA </td>
            </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example" class="nav justify-content-center">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#"><</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">></a></li>
    </ul>
  </nav>
<div class="container">
    <footer class="py-3 my-4">
      <p class="text-center">© 2021 AceTor</p>
    </footer>
  </div>